@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html {
    background-color: #0A0C1B;
}

.container {
    display: flex;
    width: 1000px;
    background-color: #1C1937;
    color: #fff;
    margin: auto;
    margin-top: 110px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 90%;
    padding: 80px 0px 0px 70px;
    order: 0;
}

h1 {
    padding-right: 55px;
    font-size: 2.4em;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 > strong {
    color: #9b53ca;
}

p {
    color: rgb(143, 143, 143);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 26px;
    padding-right: 140px;
    margin-bottom: 40px;
}

.comp{
    display: inline-block;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.6em;
    padding-right: 50px;
    order: 1;
}

h2 > strong {
    color: rgb(143, 143, 143);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

img {
    height: 100%;
    display: flex;
    border-radius: 0px 10px 10px 0;
    order: 2;
}

.img {
    width: 50%;
    display: flex;
}

@media screen and (max-width: 1000px) {

    .container {
        display: flex;
        width: 500px;
        margin-top: 50px;
        flex-direction: column;
        text-align: center;
    }

    img {
        display: block;
        width: 100%;
        order: 0;
        border-radius: 10px 10px 0 0;
    }

    .img {
        display: block;
        width: 100%;
    }

    .card {
        width: 100%;
        padding: 50px;
        display: flex;
        order: 1;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    h1 {
        padding-right: 0;
    }

    p {
        padding-right: 0;
    }

    .comp {
        order: 2;
        margin-bottom: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {

    .container {
        width: 50%;
        max-width: 685px;
    }
    .img {
        width: 100%;
    }
}